<ion-page>
  <ion-content fullscreen class="landing-content">
    <div class="content-wrap">
      <div class="text-group">
        <h1>COP Giving Mobile</h1>
        <p class="subtitle">Healthy communities start here</p>
        <p class="supporting">
          Secure local church giving ensures your contribution serves the neighbors who need it most.
        </p>
      </div>

      <ion-button expand="block" size="large" (click)="goToBranches()">Give now</ion-button>
    </div>
  </ion-content>
</ion-page>
